body {
    height: 100vh;
}


table {
    margin: 0px;
    width: 100%;
    height: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: center;
}

th {
    background-color: yellow;

}


input {
    float: left;
    margin-left: 3%;
    margin-top: 5%;
    width: 30%;
    height: 4, 8%;
}

#table_one {

    border-collapse: collapse;
}

#table_two {

    border-spacing: 10% 10%;
}

#table_tree {

    border-collapse: collapse;

}

#blue,
#four {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#red,
#line {
    background-color: red;
}